extends layout

block content
  div#debug
  canvas#leap-overlay
  .color-wheel
    ul
      li: a.orange(href="#")
      li: a.yellow(href="#")
      li: a.green(href="#")
      li: a.blue(href="#")
      li: a.aqua(href="#")
      li: a.purple(href="#")

      li: a.red(href="#")
      li: a.pink(href="#")
      li: a.orange(href="#")
      li: a.yellow(href="#")
      li: a.green(href="#")
      li: a.blue(href="#")

      li: a.aqua(href="#")
      li: a.purple(href="#")
      li: a.red(href="#")
      li: a.pink(href="#")
      li: a.red(href="#")
      li: a.aqua(href="#")

    span.middle-button
      .wrapper
        .clock
  h2 Level: 
    span.level-number
  p.instructions Get your fingers in the red rings before the timer runs out.